h1{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 36px;
  font-style: italic;
}

button{
  width: 35px;
  height: 35px;
  font-family: Jua, sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

button:hover{
  color: white;
  background-color: black;
}